<div class="home-component">
  <div>
    <form class="flex-column" [formGroup]="form">
      <mat-form-field class="fix">
        <input matInput placeholder="Token address" required formControlName="tokenAddress" />
        <mat-error *ngIf="form.get('tokenAddress')?.hasError('required')">Token address is required</mat-error>
      </mat-form-field>
      <mat-form-field class="fix">
        <input matInput placeholder="Token amount" required formControlName="tokenAmount" />
        <mat-error *ngIf="form.get('tokenAmount')?.hasError('required')">Token amount is required</mat-error>
      </mat-form-field>
      <mat-form-field class="fix">
        <input matInput placeholder="Token bt BNB" required formControlName="tokenByBNB" />
        <mat-error *ngIf="form.get('tokenByBNB')?.hasError('required')">Token by bnb is required</mat-error>
      </mat-form-field>
      <mat-form-field class="fix">
        <input matInput placeholder="Amount min" required formControlName="amountMin" />
        <mat-error *ngIf="form.get('amountMin')?.hasError('required')">Amount min is required</mat-error>
      </mat-form-field>
      <mat-form-field class="fix">
        <input matInput placeholder="Amount max" required formControlName="amountMax" />
        <mat-error *ngIf="form.get('amountMax')?.hasError('required')">Amount max is required</mat-error>
      </mat-form-field>
      <mat-form-field class="fix">
        <input matInput placeholder="Soft cap" required formControlName="softCap" />
        <mat-error *ngIf="form.get('softCap')?.hasError('required')">Token address is required</mat-error>
      </mat-form-field>
      <mat-form-field class="fix">
        <input matInput placeholder="Hard cap" required formControlName="hardCap" />
        <mat-error *ngIf="form.get('hardCap')?.hasError('required')">Token address is required</mat-error>
      </mat-form-field>
      <button (click)="createPresale()"
              color="primary"
              class="fix"
              [disabled]="!account"
              mat-button
              mat-raised-button>
        Create your presale
      </button>
      <div class="connect" *ngIf="!account">
        Connect your metamask wallet with the button in upper right to create
        presale from this site
      </div>
    </form>
  </div>
</div>
